<!DOCTYPE html>
<html>
    <head>
        <title>Posts</title>
		<link rel="stylesheet" text="text/css" href="../uploads/css/styleAlt.css"/>
		<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Arvo:400,400italic,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Droid+Sans|Noto+Sans' rel='stylesheet' type='text/css'>
    </head>
	
    <body >
		
		<div class="headerContainer">
				<!-- Single button -->
			<div class="innerHeaderContainer">
				
		  
					
				<div class="headerImgContainer">
					
					<a href="/posts"><img class="headerImage " src="../../uploads/bear_icon.jpg"/></a>
					<div class="titleDiv">
						<p class="title ">Review a Bear WorkShop</p>
					</div>
				</div>
				<div class="otherheaderContainer">
				
					<div class="innerTopButtonContainer">
						<div class="searchContainer">
							<form action="/search" method="POST">
							<!--<span class="input-group-addon">
								<i class="glyphicon glyphicon-search"></i>
								</span>-->
								<input placeholder="&#128269;" type="text" id="search" name="search" value="" />
								<a><button id="searchSubmit" type="submit">Submit</button></a>
						
							</form>
						</div>
						<div class="btn-group">
							<a href="/post/new"><button class="postButton">New Post</button></a>
						</div>
						<div class="btn-group">
						  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Authors <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu">
							<% var authArr = []; authCount = 0; %>
							<% for(var i in posts){ %>
								<% if(authArr.indexOf(posts[i].author) == -1){  %>
									<li><a href="/author/<%= posts[i].author %>"><%= posts[i].author %></a></li>
									<% authArr[authCount++] = posts[i].author %>
								<% } %>
							<% } %>
						  </ul>
						</div>
						
						<div class="btn-group">
						  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Categories <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu">
							<% var catArr = []; catCount = 0; %>
							<% for(var i in posts){ %>
								<% if(catArr.indexOf(posts[i].category) == -1){  %>
									<li><a href="/category/<%= posts[i].category %>"><%= posts[i].category %></a></li>
									<% catArr[catCount++] = posts[i].category %>
								<% } %>
							<% } %>
							
						  </ul>
						</div>
						
					</div>
					
				</div>
			</div>
			
			
        </div>
		
		<div class="inbetweener">
			<div class="interweenTextContainer">
				<p class="inbetweenText">Welcome to Review a Bear Workshop, your bear review headquarters.</p>
				<br>
				<p class="inbetweenText">If you want to share your opinion of your bear, please create a new review and add to the community.</p>
				<br>
				<p class="inbetweenText">Otherwise, feel free to look below for other reviews people have left of their bears.</p>
			</div>
		</div>
		
		<div class="container listContainer">
			
			<% if (posts.length) { %>
				
				<% for (var i in posts) { %>
					
					<% if(i%2 == 0){  %>
						<div id="divider<%= i/2 %>">
					
					<% } %>
					
						<div class="outerPostContainer col-md-6 ">
					
						
							<div class="postContainer">
								<div class="imgConatiner">
									<img src="../../uploads/<%= posts[i].thumbnail %>" class="postImage"/>
								</div>
								<div class="NotImagePostContainer">
									<div class="titleContainer">
										<p class="postTitle"><%= posts[i].title %></p>
										
										
									</div>
									<div class="buttonsContainer">
										<p>By <a href="/author/<%= posts[i].author %>" class=" metaA contentAuthor"><%= posts[i].author %></a>
										<br>
										Posted in <a href="/category/<%= posts[i].category %>" class="metaA contentDate"><%= posts[i].category %></a> on <%= posts[i].date %></p>
										<a href="/posts/<%= posts[i].title %>"><span class="glyphicon glyphicon-pencil"></span><!--<img class="editButton alterButton" src="../../uploads/pencil.png"/>--></a>
										<a href="/posts/delete/<%= posts[i].title %>"><!--<img class="deleteButton alterButton" src="../../uploads/trash.png"/>--><span class="glyphicon glyphicon-trash"></span></a>
										
										<!--stars-->
										
										<% for(var j = 0; j < 5; j++){ %>
											<% if(j < posts[i].stars){ %>
												<span class="activeStar stars glyphicon glyphicon-star"></span>
											<% }else{ %>
												<span class="inactiveStar stars glyphicon glyphicon-star"></span>
											<% } %>
										<% } %>
										
										
										
										
									</div>
									
								</div>
								
							</div>
							<div class="contentContainer">
								<p class="postContent"> <%= posts[i].content %></p>
							</div>
						</div>
					<% if(i%2 != 0 || i == posts.length-1){ %>
						</div>
					<% } %>
				<% } %>
				
				
				<!-- executing script in context -->
				<script>
					
					var i = 0;
					while(i < $('.container').children().length-1){
						var maxHeight = 0;
						for(var j = 0; j < $('#divider'+i).children().length; j++){
							var curNode =  $('#divider'+i).children()[j];
							var jQueriedCurNode = $(curNode);
							var curHeight = curNode.clientHeight;	
							if(curHeight > maxHeight){
								maxHeight = curHeight;
							}	
						}
						maxHeight = maxHeight + 20;
						$('#divider'+i).height(maxHeight);
						i++;
					}
				</script>
			
        <% } else { %>
        <p class="noContent">Sorry, there is no content yet.</p>
        <% } %>
		
       </div>
	   <footer id="footer">
			
				
				<div class="col-lg-5 col-sm-8 col-xs-6">
					<!--<img class="footerElem" src="../uploads/Signature_White.png"/>-->
					<p><a class="footerElem" href="http://github.com/chenchik/Review-a-Bear-Workshop">Project Information</a></p>
					
				</div>
				<div class="col-lg-4 col-sm-0 col-xs-0">
					
   			    </div>
				<div class="col-lg-3 col-sm-4 col-xs-6 lastFooterItem">
					<p class="footerElem" >&#169; Danila Chenchik Industries</p>		  
				</div>
      
			
		</footer>
    </body>
</html>

